:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --highlight-color: rgba(148, 104, 254, 1);
  --highlight-color-9: rgba(148, 104, 254, 0.9);
  --highlight-color-8: rgba(148, 104, 254, 0.8);
  --highlight-color-7: rgba(148, 104, 254, 0.7);
  --highlight-color-6: rgba(148, 104, 254, 0.6);
  --highlight-color-5: rgba(148, 104, 254, 0.5);
  --highlight-color-4: rgba(148, 104, 254, 0.4);
  --highlight-color-3: rgba(148, 104, 254, 0.3);
  --shadow-color-1: rgba(255, 255, 255, 0.1);
  --shadow-color-2: rgba(255, 255, 255, 0.2);
  --shadow-color-3: rgba(255, 255, 255, 0.3);
  --shadow-color-4: rgba(255, 255, 255, 0.4);
  --shadow-color-5: rgba(255, 255, 255, 0.5);
  --shadow-color-6: rgba(255, 255, 255, 0.6);
  --shadow-color-7: rgba(255, 255, 255, 0.7);
  --shadow-color-8: rgba(255, 255, 255, 0.8);
  --shadow-color-9: rgba(255, 255, 255, 0.9);
  --shadow-color: rgba(255, 255, 255, 1);
  --text-color: rgba(255, 255, 255, 1);
  --btn-color: rgba(255, 255, 255, 1);

  --border-color-dark: rgb(26, 26, 26);
  --color-black-6: rgba(0, 0, 0, 0.6);

  --light-on: #dde066;
  --light-off: #a9a9a9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}
body.light-off {
  opacity: 0.6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  flex: 1;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
